#headerText {
  color: #FFF;
  font-size: 30px;
  margin: 50px auto 20px;
  text-align: center;
}
@media (max-width: 767px) {
  #imgTag {
    max-height: 300px;
    width: auto;
  }
}
@media (min-width: 768px) {
  #imgTag {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
